@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*wszystkie elementy dziedziczą box-sizing,domyslnie box sizing nie jest dziedziczony*/ }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes jump-jump {
  0% {
    filter: blur(0.6rem);
    transform: translateY(-40rem); }
  50% {
    transform: translateY(0);
    filter: none; }
  57% {
    transform: translateY(0.5rem); }
  74% {
    transform: translateY(0); }
  80% {
    transform: translateY(-0.7rem); }
  85% {
    transform: translateY(0); }
  90% {
    transform: translateY(-0.6rem); }
  100% {
    transform: translateY(0); } }

@keyframes pleaseMoveDown {
  0% { }
  50% {
    transform: translateY(0.5rem);
    filter: blur(0.1rem); }
  100% {
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes planet {
  0% {
    transform: rotate(360deg); }
  100% { } }

@keyframes flying {
  0% { }
  50% {
    transform: translateX(100vw); }
  52% {
    transform: rotate(180deg); }
  100% {
    transform: translateX(0); } }

.u-text-center {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 5rem; }

.u-margin-bottom-large {
  margin-bottom: 10rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-top-small-2 {
  margin-top: 3rem; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  font-size: 5rem;
  letter-spacing: .4rem;
  animation: moveInLeft 1.5s ease-in;
  color: white; }

.heading-secondary {
  font-size: 4rem;
  font-weight: lighter; }
  .heading-secondary--bg {
    display: inline-block;
    background-image: linear-gradient(to right bottom, #10ac84, rgba(46, 213, 115, 0.8));
    color: transparent;
    -webkit-background-clip: text;
    letter-spacing: 5px; }
    .heading-secondary--bg-tech {
      transform: translateY(1rem) translateX(-1rem); }

.heading-tertiary {
  font-size: 2rem;
  font-weight: bolder; }

.paragraph {
  margin-bottom: 1rem; }

.section-about {
  padding: 15rem 0 25rem 0;
  font-size: 1.8rem;
  background-color: #f1f2f6;
  margin-top: -10rem; }

.about {
  position: relative; }
  .about__shape {
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    float: left;
    transform: translateX(-2rem);
    border-radius: 5px;
    box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.section-technologies {
  padding: 8rem 0;
  margin-top: -19rem;
  background-color: white; }
  .section-technologies .tech-box {
    text-align: center; }
    .section-technologies .tech-box__icon {
      font-size: 6rem; }
    .section-technologies .tech-box__caption {
      margin-top: 1rem;
      font-size: 1.5rem; }

.section-experience {
  padding: 8rem 0 10rem 0;
  background-color: #F1F2F6; }
  .section-experience .experience-list {
    font-size: 1.8rem; }
    .section-experience .experience-list__item {
      margin-bottom: 2rem; }

.section-projects {
  padding: 8rem 0 10rem 0; }

.section-contact {
  padding: 8em 0 15rem 0;
  background-color: #F1F2F6; }
  .section-contact .contact-box {
    text-align: center; }
    .section-contact .contact-box__icon {
      font-size: 6rem; }
    .section-contact .contact-box__caption {
      margin-top: 1rem;
      font-size: 2rem; }
    .section-contact .contact-box a:link, .section-contact .contact-box a:visited {
      text-decoration: none;
      color: #777;
      display: inline-block;
      padding-bottom: .2rem;
      border-bottom: 2px solid #777;
      transition: all .3s; }
    .section-contact .contact-box a:hover {
      border-bottom: 2px solid #10AC84; }

.header {
  position: relative;
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(16, 172, 132, 0.7), rgba(16, 172, 132, 0.7)), url(../img/matrix.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .header__text-box {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%); }
  .header__img-box {
    display: inline-block;
    position: absolute;
    right: 6.3rem;
    top: -1.3rem;
    animation: jump-jump 3s ease-in; }
  .header__img {
    width: 4.5rem;
    position: relative; }
    .header__img:hover {
      transform: rotate(180deg) scale(1.2); }
  .header__span {
    display: inline-block;
    animation: pleaseMoveDown .5s ease-in 1.61s; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * (6rem)) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * (6rem)) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * (((100% - 6rem * 3) / 4)) + 6rem);
    background-color: orangered; }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 6rem * 3) / 4) + 6rem * 2);
    background-color: orangered; }
  .row .col-1-of-5 {
    width: calc((100% - 6rem * 4) / 5); }

.rotation {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: relative;
  animation: planet 5s infinite cubic-bezier(0.99, 1, 0, -0.01); }

.composition {
  position: relative;
  height: 20rem; }
  .composition__picture {
    width: 20%;
    position: absolute;
    outline: 0.2rem solid #10AC84;
    outline-offset: 2rem; }
    .composition__picture--1 {
      left: 0;
      top: 10rem; }
    .composition__picture--2 {
      left: 35%;
      top: -5rem; }
    .composition__picture--3 {
      right: 5.5rem;
      top: 10rem; }
    .composition__picture--4 {
      left: 35%;
      top: 25rem; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem; }
  .card__side {
    height: 45rem;
    transition: all 1.5s ease;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, rgba(16, 172, 132, 0.8), rgba(16, 172, 132, 0.9)); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5534fa); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    width: 100%;
    height: 45%;
    overflow: hidden;
    background-size: cover;
    background-position: center; }
    .card__picture--1 {
      background-image: url("../img/Fat.png"); }
    .card__picture--2 {
      background-image: url("../img/events.jpg"); }
    .card__picture--3 {
      background-image: url("../img/pjc.png"); }
  .card__heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder; }
  .card__details ul {
    padding: 2rem;
    text-align: center;
    list-style: none; }
    .card__details ul li {
      border-bottom: 0.1px solid #777;
      margin-bottom: .5rem;
      padding: .5rem 0; }
  .card__cta {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%); }

.btn:link, .btn:visited {
  color: #777;
  text-decoration: none;
  padding: 2rem 4rem;
  background-color: #fff;
  border-radius: 25px;
  display: inline-block;
  text-transform: uppercase;
  position: relative; }

.btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all .5s;
  z-index: -1;
  border-radius: 25px; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(1.3);
    opacity: 0; }

.btn-text:link, .btn-text:visited {
  padding: 1rem 4rem;
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  background-color: #10AC84;
  opacity: .9; }

.btn-text--cv {
  position: absolute;
  right: 10rem;
  top: 35rem;
  font-size: 2rem;
  font-weight: bolder; }
  .btn-text--cv:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5); }

.footer {
  padding: 10rem 0 1rem 0;
  background-image: linear-gradient(to right bottom, rgba(16, 172, 132, 0.7), rgba(16, 172, 132, 0.7)), url(../img/matrix.jpg);
  background-size: cover;
  font-weight: 400;
  font-size: 1.7rem;
  color: #F1F2F6; }
  .footer__navigation {
    margin-right: 4rem;
    float: right; }
    .footer__navigation ul {
      list-style: none;
      display: inline-block;
      border-top: 2px solid #F1F2F6;
      padding-top: 1rem; }
      .footer__navigation ul li {
        display: inline-block; }
        .footer__navigation ul li a:link, .footer__navigation ul li a:visited {
          text-decoration: none;
          color: #F1F2F6;
          padding: 0 .5rem;
          transition: all .3s;
          display: block; }
          .footer__navigation ul li a:link:hover, .footer__navigation ul li a:visited:hover {
            background-color: #fff;
            color: #10AC84;
            border-radius: 3px; }
  .footer__rights {
    margin-left: 5rem;
    padding: 1rem;
    display: inline-block;
    border-top: 2px solid #F1F2F6; }
  .footer__paragraph {
    text-align: center;
    letter-spacing: .7rem; }
