@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*wszystkie elementy dziedziczą box-sizing,domyslnie box sizing nie jest dziedziczony*/ }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes jump-jump {
  0% {
    transform: translateY(-40rem); }
  50% {
    transform: translateY(0); }
  57% {
    transform: translateY(0.5rem); }
  74% {
    transform: translateY(0); } }

@keyframes pleaseMoveDown {
  0% { }
  50% {
    transform: translateY(0.5rem); }
  100% {
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  font-size: 5rem;
  letter-spacing: .4rem;
  animation: moveInLeft 1.5s ease-in; }

.header {
  position: relative;
  height: 90vh; }
  .header__text-box {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%); }
  .header__img-box {
    display: inline-block;
    position: absolute;
    right: 6.3rem;
    top: -1.3rem;
    animation: jump-jump 3s ease-in; }
  .header__img {
    width: 4.5rem; }
  .header__span {
    display: inline-block;
    animation: pleaseMoveDown .5s ease-in 1.61s; }
