
//////////Grid

$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;


/////////////

$inline-block:inline-block;


///////Colors//////

$color-white:#fff;
$color-black:#000;
$color-grey-dark:#777;
$color-grey-light:#F1F2F6;
$color-green-dark:#10AC84;
$color-green-light:#10AC84;



///////Font/////////
$font-size-default:1.8rem;