//in layout we put global footer, header, all global pieces, navigation etc//

.header {

  position: relative;
  height: 90vh;
  background-image: linear-gradient(to right bottom,rgba($color-green-dark,.7),rgba($color-green-light,.7)),
  url(../img/matrix.jpg);
  //background-image: linear-gradient(to right bottom,rgba(223, 228, 234,0.2), rgba(223, 228, 234,0.2)),
  // url("../../img/header.jpg");
  background-size: cover;


  clip-path: polygon(0 0,100% 0,100% 85%,0 100%);

  &__text-box {

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);



  }
  &__img-box {
    display: inline-block;
    position: absolute;
    right: 6.3rem;
    top:-1.3rem;
    animation: jump-jump 3s ease-in ;

  }

  &__img {
    width: 4.5rem;
    position: relative;

    &:hover{
      transform: rotate(180deg) scale(1.2);
    }
  }

  &__span{
    display: inline-block;
    animation: pleaseMoveDown .5s ease-in 1.61s;
  }

}