

.navigation{

    

position: fixed;
right:0;
width: 100%;
height: 5rem;
background-image: linear-gradient(to right,rgba($color-green-dark,.8),rgba($color-green-light,.8));
z-index: 1000;
    &__list{
        transform: translateY(-50%);
        display: inline-block;
        position: absolute;
        right:0;
        top:50%;
        text-decoration: none;
       font-size: 1.8rem;
       font-weight: bolder;
    }

&__item{

display: inline-block;
margin-right: 2rem;

}

&__link
{
&:link,
&:visited{
color:white;
 text-decoration: none;
}



}


}