*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*wszystkie elementy dziedziczą box-sizing,domyslnie box sizing nie jest dziedziczony*/
}

html {
  font-size: 62.5%;
  @include respond (phone) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}