*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*wszystkie elementy dziedziczą box-sizing,domyslnie box sizing nie jest dziedziczony*/
}

html {
  font-size: 62.5%;
  @include respond (big-desktop) {
    font-size: 80%;
  }
  @include respond (tab-land) {
    //1rem=9px 9/16=50%
    font-size: 56.25%;
  }
  @include respond (tab-port) {
    //8px 8/16=37.5%
    font-size:50%;
  }
  @include respond (phone) {
    
    font-size: 40%;
  }
}

body {
  box-sizing: border-box;
}