
body {

  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {

  font-size: 5rem;
  letter-spacing: .4rem;
  animation: moveInLeft 1.5s ease-in;
  color: white;

}

.heading-secondary {
  font-size: 4rem;
  font-weight: lighter;

  &--bg {
    display: $inline-block;
    background-image: linear-gradient(to right bottom, rgba(16, 172, 132, 1.0), rgba(46, 213, 115, .8));
    color: transparent;
    -webkit-background-clip: text;
    letter-spacing: 5px;

    &-tech {
      transform: translateY(1rem) translateX(-1rem);
    }

  }

}

.heading-tertiary {
  font-size: 2rem;
  font-weight: bolder;
}

.paragraph {
  margin-bottom: 1rem;

}