// we put section about here because its very specific to homepage. nowhere else
// there will be section "about" cause its appears always in homepage, so this is specific style of our hompepage
.section-about {
  padding: 15rem 0 25rem 0;
  font-size: $font-size-default;
  background-color: rgba($color-grey-light, 1.0);
  margin-top: -10rem;
 
  .about-text {
    padding: 2rem;

@include respond (phone){
   padding:4rem;
 
}

  }


.photo-box{
  
  height: 100%;
  @include clearfix;
  padding: 0 1rem;
  min-width: 100%;
  position: relative;
}

  .about-photo-box {
    width: 30rem;
    height: 35rem;
    overflow: hidden; //border-radius: 50%;
    float: left; //shape-outside: circle(50% at 50% 50%);
    transform: translateX(-2rem);
    border-radius: 5px;
    box-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
    background-image: url(../img/profilephoto.jpeg);
    background-size: cover;
    
    @include respond (tab-port){
     position: relative;
     left:50%;
     transform: translateX(-50%);

    }
  }



  .about-button-box {
    position: relative;
    padding: 0 6rem;
  }
}

.section-technologies {
  padding: 8rem 0;
  margin-top: -19rem;
  background-color: white;
  .tech-box {
    text-align: center;
    &__icon {
      font-size: 6rem; // box-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
    }
    &__caption {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }
}

.section-experience {
  padding: 8rem 0 10rem 2rem;
  background-color: $color-grey-light;
  .experience-list {
    font-size: 1.8rem;
    &__item {
      margin-bottom: 2rem;
    }
  }
}

.section-projects {
  padding: 8rem 2rem 10rem 2rem;
}

.section-contact {
  padding: 8em 0 15rem 0;
  background-color: $color-grey-light;
  .contact-box {
    text-align: center;
    &__icon {
      font-size: 6rem;
    }
    &__caption {
      margin-top: 1rem;
      font-size: 2rem;
    }
    a {
      &:link,
      &:visited {
        text-decoration: none;
        color: $color-grey-dark;
        display: inline-block;
        padding-bottom: .2rem;
        border-bottom: 2px solid $color-grey-dark;
        transition: all .3s;
      }
      &:hover {
        border-bottom: 2px solid $color-green-dark;
      }
    }
  }
}